<script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
  integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8="
  crossorigin="anonymous"></script>
<br/>
<label for="searchInput"><h2>Search:</h2></label>
<form id="searchForm">
<input id="searchInput" type="text">
<input type="submit">
</form>
<div id="searchResults"></div>

<script type="text/javascript">
$('#searchForm')
  .keyup(function(){
    $("#searchResults").html("");
    doSearch();
  })
  .submit(function(event){
    event.preventDefault();
    $("#searchResults").html("");
    doSearch();
  });

function doSearch(){
  var searchString = $("#searchInput").val();
  $("#searchResults").html("");
  $.getJSON('/search/?query='+encodeURI(searchString), function(data) {
    // console.log(data);
    $.each(data.docs || [], function(index, doc){
      var value = doc.id;
      // console.log(value);
      value = value.replace("pad:", "");
      value = encodeURI(value);
      $("#searchResults").append("<div><a href='/p/"+value+"'>"+value+"</a></div>");
    });
  });
}
</script>
