<script src="/static/js/jquery.js"></script>
<br/>
<label for="searchInput"><h2>Search:</h2></label>
<form id="searchForm">
<input id="searchInput" type="text">
<input type="submit">
</form>
<div id="searchResults"></div>

<script type="text/javascript">
$('#searchForm').keyup(function(){
  $("#searchResults").html("");
  doSearch();
});

function doSearch(){
  var searchString = $("#searchInput").val();
  $("#searchResults").html("");
  $.getJSON('/search/?query=' + encodeURIComponent(searchString), function(data) {
    //console.log(data);
    $.each(data.results, function(index, doc){
      var value = doc.id;
      // console.log(value);
      value = value.replace("pad:", "");
      value = encodeURIComponent(value);
      const title = doc.title || value;
      const anchor = $('<a></a>').attr('href', '/p/' + value).text(title);
      $("#searchResults").append($("<div></div>").append(anchor));
    });
  });
}
</script>
